
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    padding-bottom:700px;
    padding-right: 200px;
    font-size: 50;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
}

::-webkit-scrollbar {
    display: none;
}